.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.card-login {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    border-radius: 10px;
}

.text-left {
    text-align: left;
}