.profile-container {
  width: 40%;
}

.intro-text {
  width: 60%;
  padding-top: 1.5rem;
}

.intro-text h1 {
  color: #484439;
}

.intro-text p {
  padding: 0.5rem 2rem;
  text-align: left;
  color: #7a7352;
}

.profile-card {
  display: flex;
  justify-content: flex-end;
  background: white;
  margin: 3rem 5rem;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.splash-image {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: url(../img/profile.png);
  background-size: cover;
  background-position: center;
  animation: zoomIn 1s ease forwards; /* Apply zoom-in animation */
  transform: scale(0); /* Initial scale */
  overflow: hidden;
  border-radius: 0 15px 15px 0;
}

.splash-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://i.postimg.cc/bJSWWYTL/splash.jpg);
  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
  animation: zoomIn 0.5s ease forwards; /* Apply zoom-in animation */
  transform: scale(0); /* Initial scale */
}



/* Define the zoom-in animation */
@keyframes zoomIn {
  from {
    transform: scale(0.5); /* Start from scaled down */
  }
  to {
    transform: scale(1); /* End with normal scale */
  }
}

/* Mobile */

@media only screen and (max-width: 394px){
  .splash-image {
    width: 100%;
  }
}

@media (min-width: 395px) and (max-width: 767px) {
  .splash-image {
    width: 22rem;
  }
}

/* Mobile and Tablet */
@media only screen and (max-width: 767px) {
  .profile-container {
    width: 100%;
  }
  .profile-card {
    flex-direction: column-reverse;
    height: auto;
    margin: 3rem 0;
  }
  .intro-text {
    width: auto;
  }
  .intro-text p {
    text-align: center;
  }
  .splash-image {
    margin: auto;
    border-radius: 0;
    height: 64vh;
  }
  .res-dp1 {
    display: none;
  }
}

/* Desktop */

@media (min-width: 768px) {
  .profile-card {
    width: 50rem;
  }
  .res-dp2 {
    display: none;
  }
}
